.contact > div{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.contact > div > section:nth-of-type(1) > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact > div > section:nth-of-type(1) > ul > li > h2{
    font-size: 25px;
    font-weight: 500;
}

.contact > div > section:nth-of-type(1) > ul > li > b{
    font-weight: 600;
}

.contact > div > section:nth-of-type(1) > ul > li > ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.contact > div > section:nth-of-type(1) > ul > li > ul > li{
    width: 40px;
    height: 40px;
}

.contact > div > section:nth-of-type(1) > ul > li > ul > li > a{
    height: 100%;
    width: 100%;
    background-color: var(--dedeKleur1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact > div > section:nth-of-type(1) > ul > li > ul > li > a:hover{
    transition: 0.7s;
    opacity: 0.7;
}

.contact > div > section:nth-of-type(1) > ul > li > ul > li > a > img{
    width: 25px;
    height: auto;
}



.contact > div > section:nth-of-type(2){
    width: 50%;
    height: 575px;
    border-radius: 15px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    padding: 25px;
    position: relative;
}

.contact > div > section:nth-of-type(2) > div{
    width: 100%;
    height: 100%;
}

.contact > div > section:nth-of-type(2) > div:nth-of-type(1) > p{
    position: absolute;
    left: 25px;
    bottom: 90px;
    font-size: 12px;
    color: #fc0000;
}

.contact > div > section:nth-of-type(2) > div > div h2{
    font-size: 25px;
    font-weight: 500;
}

.contact > div > section:nth-of-type(2) > div > div{
    margin-bottom: 15px;
}

.contact > div > section:nth-of-type(2) > div > div input{
    width: 100%;
    height: 40px;
    padding: 0 15px;
    font-weight: 500;
    font-size: 13px;
    color: #000;
    border-radius: 15px;
    border: none;
    border: 1.5px solid #ffff;
}

.contact > div > section:nth-of-type(2) > div > div:nth-last-child(4) input{
    width: 150px;
}

.contact > div > section:nth-of-type(2) > div > div textarea{
    width: 100%;
    height: 75px;
    padding: 15px;
    resize: none;
    font-weight: 500;
    font-size: 13px;
    color: #000;
    border-radius: 15px;
    border: none;
    border: 1.5px solid #ffff;
}

.contact > div > section:nth-of-type(2) > div > div button{
    display: block;
    width: 200px;
    height: 50px;
    padding: 10px 0;
    background-color: var(--dedeKleur1);
    border: none;
    border-radius: 25px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.contact > div > section:nth-of-type(2) > div > div button:hover{
    opacity: 0.7;
    transition: 0.3s ease;
}

.contact > div > section:nth-of-type(2) > div:nth-of-type(2){
    display: flex;
    justify-content: center;
    align-items: center; 
}

.contact > div > section:nth-of-type(2) > div:nth-of-type(3){
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.contact > div > section:nth-of-type(2) > div:nth-of-type(3) p:first-child{
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.contact > div > section:nth-of-type(2) > div:nth-of-type(3) p:first-child img{
    width: 35px;
    height: auto;
}

@media only screen and (max-width: 1215px) {
    .contact > div{
        padding: 0 15px;
    }
}

@media only screen and (max-width: 730px) {
    .contact > div > section:nth-of-type(2){
        height: 700px;
    }

    .contact > div > section:nth-of-type(2) > div > div input{
        margin-bottom: 10px;
    }

    .contact > div > section:nth-of-type(2) > div > div textarea{
        margin-bottom: 10px;
    }

    .contact > div > section:nth-of-type(2) > div:nth-of-type(1) > p{
        font-size: 13px;
        max-width: 85%;
    }
}

@media only screen and (max-width: 650px) {
    .contact > div{
        flex-direction: column;
        gap: 50px;
    }

    .contact > div > section:nth-of-type(1){
        width: 100%;
    }

    .contact > div > section:nth-of-type(2){
        width: 100%;
    }
}

@media only screen and (max-width: 420px) {
    .contact > div > section:nth-of-type(2) > div:nth-of-type(3) p:first-child{
        flex-direction: column;
        font-size: 22px;
    }

    .contact > div > section:nth-of-type(2) > div:nth-of-type(3) p:first-child img{
        width: 45px;
    }
}