.winkel{
    background-color: #f8f8f8;
}

.winkel > div{
    max-width: 1200px;
    margin: 100px auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.winkel > div > section > img{
    width: 100%;
    height: auto;
}

.winkel > div > section > h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5px;
}

.winkel > div > section > p{
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 25px;
}

.winkel > div > section > a{
    font-size: 15px;
    font-weight: 500;
    padding: 10px 50px;
    border-radius: 50px;
    background-color: var(--dedeKleur1);
}

.winkel > div > section > a:hover{
    opacity: 0.7;
    transition: 0.2s;
} 

.winkel > div > section:nth-of-type(1){
    width: 50%;
}

.winkel > div > section:nth-of-type(2){
    width: 40%;
}

@media only screen and (max-width: 1215px) {
    .winkel > div{
        padding: 50px 15px;
    }
}

@media only screen and (max-width: 770px) {
    .winkel > div{
        flex-direction: column-reverse;
        gap: 50px;
    }

    .winkel > div > section:nth-of-type(1){
        width: 100%;
    }
    
    .winkel > div > section:nth-of-type(2){
        width: 100%;
    }

    .winkel > div > section > h2{
        font-size: 27px;
        margin-bottom: 10px;
        line-height: 30px;
    }

    .winkel > div > section > p{
        font-size: 14px;
    }
}